.logincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginTitle {
  color: white;
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  margin-top: 14rem;
  text-align: center;
  margin-bottom: 3rem;
}

.inputLabel {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 1rem;
}

.inputBox {
  border: none;
  border-bottom: 1px solid #e3e5e8;
  background: none;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 90%;
  height: 2rem;
  font-size: 1.1rem;
  color: white;
}

[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/6/61/Cross_icon_%28white%29.svg/2048px-Cross_icon_%28white%29.svg.png);
  background-size: 10px 10px;
}

.inputBox::placeholder {
  font-size: 1.5rem;
  color: #e3e5e8;
  font-weight: 100;
  font-size: 1.1rem;
}

input:focus {
  outline: none;
}

.loginbluebtn {
  background: rgba(82, 130, 224, 0.5);
  border-radius: 12px;
  color: white;
  width: 100%;
  border: 0;
  padding: 1rem;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.loginbluebtn:hover {
  background: rgba(188, 206, 244, 0.5);
}

.loginbtncontainer {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
