.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flexr {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.trimcomponentName {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  color: #000000;
  margin-right: 0.6rem;
}

.trimcomponentPlace {
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  font-weight: 100;
  color: #8f96a3;
}

.trimcomponentPrice {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #5282e0;
  margin-right: 0.4rem;
}
