html {
    font-family: Arial, Helvetica, sans-serif;
}

.fill-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}

.bg-blue {
    background: linear-gradient(180deg, #38487F 55.21%, #387B7F 100%);
}

.white {
    color: #fff;
}

.home-header {
    position: relative;
    top: 32px;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}